/*========================================================
  26.  ALERTS LISTING 
========================================================== */
    
    /** Manage Alerts */
	#dashboard-body {
		p { color: #95989A; font-size: 16px; }

		table.job-manager-alerts {
			border: 0;

			@include breakpoint($touch) {
				display: flex;
				flex-direction: column;

				tfoot { order: 1;}
			}


			thead {
				tr {
					th {
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 400;
						color: #636363;

						&:nth-child(4) { display: none; }
					}
				}
			}
			tbody {
				tr {
					td {
						font-size: 16px;
						padding: 20px 16px 20px 0;
						transition: all linear 300ms;

						&:first-child {
							font-size: 18px;
							font-weight: 600;
						}

						&:nth-child(4) { display: none; }

						&.alert_frequency {
							small { display: none; }
						}

						ul.job-alert-actions {
							visibility: visible;
							font-size: 13px;
							display: block;
							margin-left: 0;
							margin-top: 10px;
							
							li {
								&:not(:last-child):after { content: '\00B7'; }
								a.job-alerts-action-delete {
									border: 0 !important;
									background: #dd1713;
									border-radius: 2px;
									font-size: 9px;
									text-transform: uppercase;
									color: #FFF;
									padding: 0 5px;
								}								
							}
						}
					}
				}
			}
			tfoot {
				tr {
					td {
						@include breakpoint($touch) { padding-right: 0; }
						a {
							display: inline-block;
							background: #7dc146; background: var(--tertiary-accent-color);
							border: 1px solid #7dc146; border: 1px solid var(--tertiary-accent-color);
							height: 53px;
							line-height: 53px;
							padding: 0 60px;
							border-radius: 5px;
							text-transform: uppercase;
							color: #FFF;
							font-size: 16px;
							font-weight: 600;
							letter-spacing: .5px;
							margin-top: 20px;

							@include breakpoint($touch) { width: 100% !important; text-align: center; }
						}
					}
				}
			}
		}

	}
